#contenido-admin {
    display: none;
}

/* --------------------------- encabezado admin --------------------------- */

#encabezado-admin {
    background-color: #5e2c3f;
    padding: 10px 4rem;
    color: #fff;
    display: none;
    justify-content: space-between;
    align-items: center;
}

#encabezado-admin .encabezado-usuario {
    display: flex;
    gap: 10px;
}


#encabezado-admin #perfil-admin {
    border-radius: 50%;
    padding: 5px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
}

#encabezado-admin .encabezado-usuario .encabezado-titulo {
    margin: 10px 0 0 0 !important;
}

#encabezado-admin .encabezado-botones {
    display: flex;
    gap: 7px;
}

#encabezado-admin button {
    background-color: rgb(235, 53, 102);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}


/* --------------------------- productos main --------------------------- */

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
    gap: 5px;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 375px;
    margin: 20px auto;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: var(--undergray);
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-button,
.delete-button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 48%;
}

.edit-button:hover,
.delete-button:hover {
    background-color: var(--secondary);
    transition: 0.3s;
}

/* --------------------------- modal --------------------------- */

#addProductModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#addProductModal .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    display: flex;
    text-align: left;
    box-sizing: border-box;
}

#addProductModal label {
    font-weight: bold;
    margin-top: 10px;
}

#addProductModal input,
#addProductModal textarea,
#addProductModal button {
    margin-top: 5px;
    width: 100%;
}

#addProductModal button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#addProductModal button:hover {
    background-color: #777;
    transition: 0.3s;
}

#addProductForm {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

/* =========================== MODAL ADMIN PRODUCTO =========================== */

.modal-admin {
    width: 60%;
    border-radius: 20px;
    border-style: none;
}

.label-modal {
    width: 100%;
    margin-bottom: 5px;
}

.label-text {
    font-weight: bold;
    font-size: 18px;
}

.label-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label-textarea {
    height: 100px;
}

.label-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label-fotos {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.label-fotos .foto-min {
    width: 50px;
    border-radius: 2px;
}

.input-lista-fotos {
    list-style-type: decimal;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.boton-form {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 7px;
    border: 0;
    float: right;
    padding: 7px 45px;
}

.boton-form:hover {
    background-color: var(--secondary);
    transition: 0.3s;
}


.modal-admin::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.55);
}

/* =========================== MODAL ELIMINAR PRODUCTO =========================== */

.modal-delete {
    width: 35%;
    border-radius: 20px;
    border-style: none;
    text-align: center;
}

.modal-delete::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.55);
}

/* =========================== MODAL EDITAR CONTACTO =========================== */

.modal-contact {
    /* width: 30%; */
    border-radius: 20px;
    border-style: none;
    text-align: center;
}

.modal-contact::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.55);
}

/* BOTON cerrar modal */

.cerrar-modal {
    border-style: none;
    float: right;
    border-radius: 5px;
    margin: 0;
}

.cerrar-modal:hover {
    filter: brightness(0.8);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Pantallas pequeñas (móviles): Consultas para pantallas con un ancho menor a 576 píxeles. */
@media (max-width: 575px) {

    /* --------------------------- encabezado admin --------------------------- */

    #encabezado-admin {
        padding: 10px 1rem;
    }

    #encabezado-admin .encabezado-botones {
        display: block;
    }

    #encabezado-admin .encabezado-botones button {
        width: 100%;
        margin-top: 10px;
    }

    /* --------------------------- contenedor cards --------------------------- */

    .contenedor-cards {
        margin: 0 1rem;
    }

    /* --------------------------- modales --------------------------- */

    .modal-admin {
        width: 100%;
    }

    .label-stack {
        display: block;
    }

    #hrInicio {
        margin-bottom: 10px;
    }

    .label-textarea {
        height: 50px;
    }

    .label-fotos {
        justify-content: center;
        gap: 10px;
    }

    .input-lista-fotos {
        padding: 0;
        margin-left: 35px;
    }

    /* =========================== MODAL EDITAR CONTACTO =========================== */

    .modal-contact {
        width: 100%;
    }

    .modal-delete {
        width: auto;
    }

}

/* Tabletas y pantallas medianas: Consultas para pantallas con un ancho entre 576 y 991 píxeles. */
@media (min-width: 576px) and (max-width: 991px) {

    /* --------------------------- encabezado admin --------------------------- */

    #encabezado-admin {
        padding: 10px 1rem;
    }

    #encabezado-admin .encabezado-botones {
        display: flex;
        justify-content: flex-end !important;
        gap: 10px;
    }

    /* --------------------------- contenedor cards --------------------------- */

    .contenedor-cards {
        margin: 0 1rem;
    }

    .modal-admin {
        width: 80%;
    }

    .modal-delete {
        width: 65%;
    }

}

/* Pantallas grandes (escritorio): Consultas para pantallas con un ancho igual o superior a 992 píxeles. */
@media (min-width: 992px) {}