#contenido-admin {
    display: none;
}

/* --------------------------- encabezado admin --------------------------- */

#encabezado-admin {
    background-color: #5e2c3f;
    padding: 10px 4rem;
    color: #fff;
    display: none;
    justify-content: space-between;
    align-items: center;
}

#encabezado-admin .encabezado-usuario {
    display: flex;
    gap: 10px;
}


#encabezado-admin #perfil-admin {
    border-radius: 50%;
    padding: 5px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
}

#encabezado-admin .encabezado-usuario .encabezado-titulo {
    margin: 10px 0 0 0 !important;
}

#encabezado-admin .encabezado-botones {
    display: flex;
    gap: 7px;
}

#encabezado-admin button {
    background-color: rgb(235, 53, 102);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}


/* --------------------------- productos main --------------------------- */

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
    gap: 5px;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: var(--undergray);
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-button,
.delete-button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 48%;
}

.edit-button:hover,
.delete-button:hover {
    background-color: var(--secondary);
    transition: 0.3s;
}

/* --------------------------- modal --------------------------- */

#addProductModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#addProductModal .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    display: flex;
    text-align: left;
    box-sizing: border-box;
}

#addProductModal label {
    font-weight: bold;
    margin-top: 10px;
}

#addProductModal input,
#addProductModal textarea,
#addProductModal button {
    margin-top: 5px;
    width: 100%;
}

#addProductModal button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#addProductModal button:hover {
    background-color: #777;
    transition: 0.3s;
}

#addProductForm {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}



/* <!-- =========================== MODAL AÑADIR PRODUCTO =========================== --> */

.cerrar-modal {
    border-style: none;
    float: right;
    border-radius: 5px;
    margin: 0;
}

.cerrar-modal:hover {
    filter: brightness(0.8);
}

#modal-producto-create {
    width: 60%;
    border-radius: 20px;
    border-style: none;
}

#modal-producto-create label,
input,
textarea {
    width: 100%;
}


#modal-producto-create .label-disponible {
    width: fit-content;
}

#modal-producto-create #disponible {
    width: fit-content;
}

#modal-producto-create::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* Pantallas pequeñas (móviles): Consultas para pantallas con un ancho menor a 576 píxeles. */
@media (max-width: 575px) {

    /* --------------------------- encabezado admin --------------------------- */

    #encabezado-admin {
        padding: 10px 1rem;
    }

    #encabezado-admin .encabezado-botones {
        display: block;
    }

    #encabezado-admin .encabezado-botones button {
        width: 100%;
        margin-top: 10px;
    }

}

/* Tabletas y pantallas medianas: Consultas para pantallas con un ancho entre 576 y 991 píxeles. */
@media (min-width: 576px) and (max-width: 991px) {

    /* --------------------------- encabezado admin --------------------------- */

    #encabezado-admin {
        padding: 10px 1rem;
    }

    #encabezado-admin .encabezado-botones {
        display: flex;
        justify-content: flex-end !important;
        gap: 10px;
    }

    /* #encabezado-admin .encabezado-botones button {} */

}

/* Pantallas grandes (escritorio): Consultas para pantallas con un ancho igual o superior a 992 píxeles. */
@media (min-width: 992px) {}