/* ------------------------------------------ ESTILOS PERSONALIZADOS (home) ----------------------------------------------------- */

/* ---------------------------------- Carrusel ---------------------------------- */

#myCarousel {
    margin-bottom: 4rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10% !important;
}

.carousel-item {
    height: 32rem;
}

.carousel-item .capa-oscura {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.carousel-item .bd-placeholder-img {
    font-size: 1.125rem !important;
    text-anchor: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.carousel-item .carousel-caption {
    bottom: 0.5rem;
    z-index: 10;
}

.carousel-item .carousel-caption .text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.carousel-item .btn-carousel {
    background-color: var(--primary);
    border-color: var(--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    color: var(--white);
    transition: all 0.3s;
}

.carousel-item .btn-carousel:hover {
    background-color: var(--lightbody);
    color: var(--primary);
    font-weight: bold;
}

/* ---------------------------------- Tarjetas ---------------------------------- */

.contenedor-caja {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja-tarjetas {
    background: linear-gradient(8deg, var(--primary), var(--lightbody));
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 100%;
}

.grilla-tarjetas {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.columna-tarjeta {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 25rem;
    min-height: 1px;
    height: 30rem;
}

.tarjeta-detalle {
    border: none;
    border-radius: 1rem;
    background-color: var(--white);
    color: var(--white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.tarjeta-detalle .texto-detalle {
    position: relative;
    bottom: -20rem;
    padding: 3rem !important;
}

.tarjeta-detalle .texto-detalle .parrafo-detalle {
    margin-top: 35px;
    font-size: 1.20rem !important;
    text-align: center;
}

.tarjeta-detalle:hover .texto-detalle {
    position: relative;
    bottom: -2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: 2s;
}

/* ---------------------------------- Info ---------------------------------- */

.info-texto {
    user-select: none;
}

.info-texto-pri {
    text-align: left;
    font-size: 22px;
    align-self: center;
}

.info-texto-pri>p {
    margin-bottom: 0;

}

.info-texto-img {
    padding: 1.5rem 0 !important;
    display: flex;
    justify-content: center;
}

.info-texto-img .info-logo {
    padding: 0;
    width: 100%;
}

.info-texto .info-logo:hover {
    filter: brightness(1.03);
    transition: 0.5s;
}

.info-texto-seg {
    text-align: right;
    font-size: 22px;
    align-self: center;
}

.info-texto-seg>p {
    margin-bottom: 0;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Pantallas pequeñas (móviles): Consultas para pantallas con un ancho menor a 576 píxeles. */
@media (max-width: 575px) {

    /* home */

    .caja-tarjetas {
        margin: 0 0 !important;
        padding: 1rem 0 !important;
    }

    .grilla-tarjetas {
        gap: 0.25;
    }

    .columna-tarjeta {
        max-width: auto;
    }

    .caja-tarjetas {
        background: linear-gradient(8deg, var(--primary), var(--lightbody));
        padding: 2rem 0;
        border-radius: 0;
    }

    .tarjeta-detalle .texto-detalle {
        bottom: -25rem;
        padding: 1.5rem !important;
    }

    .tarjeta-detalle:hover .texto-detalle {
        bottom: -9rem;
    }

    .tarjeta-detalle .texto-detalle>p {
        margin-top: 40px;
        font-size: 1.20rem !important;
    }

    .info-texto-img {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
    }

    .info-texto-img .info-logo {
        padding: 0;
        width: 250px;
    }

}

/* Tabletas y pantallas medianas: Consultas para pantallas con un ancho entre 576 y 991 píxeles. */
@media (min-width: 576px) and (max-width: 991px) {

    /* home */

    .caja-tarjetas {
        margin: 0 1rem;
    }

    .grilla-tarjetas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

    }

    .tarjeta-detalle .texto-detalle {
        bottom: -21rem;
    }

    .tarjeta-detalle .texto-detalle>p {
        margin-top: 45px;
        font-size: 1.20rem !important;
    }

    .info-texto-img {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
    }

    .info-texto-img .info-logo {
        padding: 0;
        width: 350px;
    }

}

/* Pantallas grandes (escritorio): Consultas para pantallas con un ancho igual o superior a 992 píxeles. */
@media (min-width: 992px) {}